
select{
  padding: 0;margin: 0;  outline: none;border-radius:3px;font-size: 16px;margin-top:10px; border: 2px solid #155492;color: #000; padding-left:10px !important;
}
select {
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }