.title{
 width:100%;margin: 0;padding: 0; position:fixed;top:0;padding-top:10px;padding-bottom:10px;text-align: center;background: #f9f9f9;color: #616161;font-size: 22px;border-bottom: solid 1px #d7d7d7;z-index:3;right:0;
}
.back{
    position:absolute; top:10px;left:10px;width: 40px;text-align: center;color: gray;
}
a{
    text-decoration: none;
}