<div style="width: 100%;">
<h2 style="margin-top:100px;margin-left: 20%;">
  电脑页面正在建设中，请暂时用移动设备访问！
</h2>
</div>
 <!--<div  class="scrollbox" style="width:100%;overflow:auto;overflow-wrap:break-word;white-space: nowrap;" >
   <ul style="width:100%;margin: 0;">
     <li *ngFor="let commodity of commoditys1"  style="width:30%;text-align: center;display:inline-block;">
       <div style="width:100%;text-align:center;">
       <img style="border-right: #eee 1px solid;width:100%;" [src]="commodity.picture">
       <div style="position:relative;bottom:0px;">
         <span style="font-size: 14px;color: crimson;">￥</span>
         <span style="color: crimson;font-weight:bold;font-size:18px;">{{commodity.price}}</span>
        </div>
        <div style="position:relative;bottom:0px;">
         <span style="color: gray;font-size:14px;text-decoration:line-through;">￥{{commodity.price2}}</span>
        </div>
       </div>
     </li>
   </ul>
 </div>-->

 <!--<ul>
      <li *ngFor='let commodity of commoditys;' style="padding-left:3px;padding-right:3px;"class="row col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <div class="row" >
         <a [routerLink]="['/commodity',commodity.key]"><img class="col-xs-5" src="{{commodity.picture}}" height="100px" width="120px"></a>
          <div class="col-xs-7" style="padding-right:0;">
            <div class="commodity_title">
             {{commodity.title}}
            </div>
            <div class="row commodity_price">
              <h4 class="text-danger float_left">{{commodity.price}}</h4>
            </div>
            <div class="row">
              <h6 class="col-xs-3 text-left"  style="padding:0;"> {{commodity.mode}}</h6>  
              <h6 class="col-xs-6 text-center"style="padding:0;"> {{commodity.purchasingvolume}}人付款</h6> 
              <h6 class="col-xs-3 text-right" style="padding:0;"> {{commodity.address}}</h6> 
            </div>
          </div>
        </div>
        <div class="row">
         <hr>
        </div>
      </li>
