<nav  class="row index_nav" >
    
    <a class="col-xs-3 text-center" routerLink="/home">
     <i class="glyphicon glyphicon-home " ></i>
     <span class="row " >首页</span>
    </a>

     <a class="col-xs-3 text-center"  [routerLink]="['/classify','hot']" >
     <i class="glyphicon glyphicon-th-large"></i>
     <span class="row " >分类</span>
    </a>

    <a class="col-xs-3 text-center" routerLink="/shopping-car">
     <i class="glyphicon glyphicon-shopping-cart" ></i>
     <span class="row " >购物车</span>
    </a>

    <a class="col-xs-3 text-center" routerLink="/user-data" >
     <i class="glyphicon glyphicon-user"></i>
     <span class="row " >个人</span>
    </a>
</nav>